/* Styles - Anthony Sansone - 2011 Sep 13 */

body {
    margin: 0in;
    font: 9pt/12pt arial, sans-serif;
}
.resume {
    font: 9pt/12pt arial, sans-serif;
}

h2 > ul {
  margin-left: 30pt;
}
h2 > h3 {
  margin-left: 30pt;
}

ul li {
  list-style-type: square;
  margin-left: 20pt;
  font-size: 9pt;
  line-height: 12pt;
}
ul.job > li {
  list-style-type: none;
  margin: 0pt;
  float: left;
}
ul.job > li + li {
  margin-left: 18pt;
  padding-left: 0pt;
  list-style-type: square;
}
.company {
  font-size: 9pt;
  border-top: 1pt solid #bbb;
  margin-bottom: 5pt;
  clear: both;
}
ul.company {
  margin: 10pt;
}
ul.company > li {
  list-style-type: none;
  margin-left: 0pt;
}
ul.company > li + li {
  margin-left: 20pt;
  list-style-type: square;
}
ul#contact {
  border-top: 1pt solid #bbb;
  border-bottom: 1pt solid #bbb;
}
ul#contact > li {
  list-style-type: none;
  margin-left: 0pt;
  font-size: 7pt;
  float: left;
}
ul#contact > li + li {
  margin-left: 9pt;
  list-style-type: square;
  font-size: 7pt;
}
ul#contact > li * {
  clear: both;
}
ul.job > li * {
  clear: both;
}
ul#contact {
  margin-bottom: 30pt;
}
.tools {
  background-color: #eee;
  padding: 1pt;
  margin-top: 6pt;
  margin-left: 6pt;
  border: 1pt solid #ccc;
}
ul.tools > li {
  list-style-type: none;
  font-size: 6pt;
  line-height: 9pt;
  margin-left: 18pt;
  text-indent: -18pt;
}
ul.tools > li > b {
  font-weight: 700;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 6pt;
  font-weight: 700;
  clear: both;
}
h1 {
  font-size: 18pt;
  line-height: 24pt;
}
h2 {
  color: #444;
  font-size: 12pt;
  line-height: 18pt;
}
h3 {
  color: #666;
  font-size: 10pt;
  line-height: 12pt;
}

table.skills {
  margin: 3pt 0pt;
  border: 1pt solid #ccc;
  width: 100%;
}
table.skills tr > td {
  width: 60%;
  text-indent: 6pt;
  line-height: 9pt;
}
table.skills tr > td + td {
  text-align: center;
  width: 15%;
  text-indent: 0pt;
  line-height: 9pt;
}
tr > td {
  padding: 2pt;
  font-size: 7pt;
}
tr > th {
  background-color: #ccc;
  padding: 2pt;
  font-size: 7pt;
  font-weight: 700;
  text-align: center;
}

table.skills tr.skilldiv {
  background-color: #ddd;
}
table.skills tr.skilldiv > td {
  font-weight: 700;
  text-indent: 0pt;
}
td.altrow {
  background-color: #eee;
}
tr:nth-child(odd) {
  background-color:#eee;
}
tr:nth-child(even) {
  background-color:#fff;
}

.resume a:link {
  color: #333;
  text-decoration: none;
}
.resume a:visited {
  color: #000;
  text-decoration: none;
}
.resume a:focus {
  background-color: #eee;
}
.resume a:hover {
  background-color: #eee;
}
.resume a:active {
  background-color: #000;
  color: #fff;
}